/* Apply a basic reset */
/* 这是展示idea的样式文件 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 24px;
    text-align: center;
}

.user-ideas table {
    width: 100%;
    /* 让表格宽度充满容器 */
    border-collapse: collapse;
    /* 确保表格没有额外的间距 */
}

.user-ideas th,
.user-ideas td {
    border: 1px solid #ddd;
    /* 单元格之间有细边框 */
    padding: 8px;
    /* 在内容和边框之间留有一些空间 */
    text-align: left;
    /* 内容左对齐 */
}

.user-ideas th {
    background-color: #f2f2f2;
    /* 标题行背景色 */
}

/* 悬停效果 */
.user-ideas tr:hover {
    background-color: #eaeaea;
}

/* Zebra Stripe Effect */
.user-ideas tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.user-ideas tr:nth-child(even) {
    background-color: #e9e9e9;
}